@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import "tailwindcss";
/* @import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* 
@source "../node_modules/flowbite"; */
/* @plugin "flowbite/plugin"; */

@theme {

 --border-input-color:hsl(255,30,31) ;
 --Font-place-holder-color: hsl(250,8,47);
 --bg-input:hsla(246,15%,58%,0.253);;

  --Neutral-0: hsl(0,0%,100%);
  --Neutral-opacy-opacy: hsla(0,0%,100%,0.280);
  --Neutral-300: hsl(252,6%,83%);
  --Neutral-500: hsl(245,15%,58%);
  --Neutral-700: hsl(245,19%,35%);
  --Neutral-900: hsl(248,70%,10%);

  --Orange-button-500: hsl(7,88%,67%);
  --Orange-button-opacy: hsla(7,74%,70%,0.671);
  --Orange-700: hsl(7,71%,60%);

  /* --Gradient-text: hsl(7, 86%, 67%) hsl(0, 0%, 100%); */

  --Font-primary: "Inconsolata", monospace;
  --Font-size:20px;
  --Font-weight-400: 400;
  --Font-weight-500: 500;
  --Font-weight-700: 700;
  --Font-weight-800: 800;
}

body{
  font-family: "Inconsolata", monospace;
  color: white;
}